body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
}

.form-container {
  display: flex;
  margin-left: 10px;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 5px
}

button {
  height: 30px;
  width: 100px;
  margin-left: 3px;
}

.header-container {
  margin-left: 15px;
}

/* table { }

th { }


td { } */